# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo

# Environment
.env
venv/
env/

# VSCode
.vscode/

# macOS
.DS_Store

# Static/media (optional, if using collectstatic on server)
staticfiles/
media/
